In [3]:
import pandas
import numpy
'''
    DataFrame 是二维数组
    1. DataFrame 的创建、字典创建  --> ndarray 创建  
'''
data1 = pandas.DataFrame(numpy.arange(0,9).reshape(3,3),index=['a','b','c'],columns=['e','f','g'])
print('创建的二维数组表为：\n',data1)

# 2、 DataFrame 的创建 --> 字典创建
dic = {
    'name' : ['刘翰铭','林鑫泷','林学思'],
    'age' : [17,18,19],
    'high' : [175,178,170]
}
data2 = pandas.DataFrame(dic,index=[1,2,3])
print('字典创建的二维数表为：\n',data2)

创建的二维数组表为：
    e  f  g
a  0  1  2
b  3  4  5
c  6  7  8
字典创建的二维数表为：
   name  age  high
1  刘翰铭   17   175
2  林鑫泷   18   178
3  林学思   19   170

In [13]:
'''
    练习1 ：用randint函数创建一个
    10-50区间5x6的随机整数DataFram
'''
numpy.random.seed(43)
dt1 = pandas.DataFrame(numpy.random.randint(10,51,size=(5,6)),index=[1,2,3,4,5])
print('创建的二维数表为：\n',dt1)

'''
    2、根据以下考试成绩表，
    创建一个DataFrame，命名为df：
'''
dic2 = {
    '张三' : [150,150,150,300],
    '李四' : [0,0,0,0]
}
df = pandas.DataFrame(dic2,index=['语文','数学','英语','理综'])
print('成绩表如下：\n',df)

创建的二维数表为：
     0   1   2   3   4   5
1  14  10  31  26  27  37
2  12  40  33  10  45  21
3  35  11  44  21  12  45
4  14  46  22  34  42  20
5  19  44  14  38  19  17
成绩表如下：
      张三  李四
语文  150   0
数学  150   0
英语  150   0
理综  300   0

In [1]:
'''
    使用read_csv()函数读取 .csv 文件，读取后
    形成一个dataframe 对象
    默认的encoding 为 utf-8
    # encoding 编码 一般是 utf-8，如果默认不行尝试'gbk','gbk2312' header 是去表头 sep 表示接受str且分隔符 
    # nrows 是指定读取多少行 index_col 表示索引列的位置 names 表示列名（接收array） usecols 表示接受选定的数据，类型为array 
'''
# Analyse = pandas.read_csv('C:\\Users\\26440\\Desktop\\jupyter_ipynb\\python_source\\data\\data1.csv',encoding='gbk',header=None,names=['岗位id','岗位名称','工资','人数','行业'],index_col='岗位id',usecols=['岗位id','岗位名称','人数'],nrows=10)
# print(Analyse)

"\n    使用read_csv()函数读取 .csv 文件，读取后\n    形成一个dataframe 对象\n    默认的encoding 为 utf-8\n    # encoding 编码 一般是 utf-8，如果默认不行尝试'gbk','gbk2312' header 是去表头 sep 表示接受str且分隔符 \n    # nrows 是指定读取多少行 index_col 表示索引列的位置 names 表示列名（接收array） usecols 表示接受选定的数据，类型为array \n"

In [4]:
'''
    (1) 取消第一行作为表头；
    (2) 为各个列取名，依次添加列名为positionId、positionName、companyId、companySize、industryField的表头；
    (3) 将positionId列设为索引；
    (4) 用sep参数设置分隔符为逗号；
'''
Analyst = pandas.read_csv('C:\\Users\\26440\\Desktop\\jupyter_ipynb\\python_source\\data\\data1.csv',
                          encoding='gbk',sep=',',header=None,names=['positionId','positionName','companyId','companySize','industrtld'],
                          index_col='positionId')
print(Analyst)

                     positionName  companyId companySize   industrtld
positionId
6802721                      数据分析     475770     50-150人     移动互联网,电商
5204912                      数据建模      50735    150-500人           电商
6877668                      数据分析     100125     2000人以上   移动互联网,企业服务
6496141                      数据分析      26564   500-2000人           电商
6467417                      数据分析      29211     2000人以上        物流丨运输
...                           ...        ...         ...          ...
6884346                     数据分析师      21236   500-2000人  移动互联网,医疗丨健康
6849100                    商业数据分析      72076   500-2000人     移动互联网,电商
6803432           奔驰·耀出行-BI数据分析专家     751158    150-500人        移动互联网
6704835                   BI数据分析师      52840     2000人以上           电商
6728058     数据分析专家-LQ(J181203029)       2474     2000人以上        汽车丨出行

[105 rows x 4 columns]

In [9]:
'''
    # 复习：read_csv()函数
'''
data3 = pandas.read_csv('C:\\Users\\26440\\Desktop\\jupyter_ipynb\\p'
                        'ython_source\\data\\data1.csv',encoding='gbk',header=None)
print(data3)

     6802721                   数据分析  475770    50-150人     移动互联网,电商
0    5204912                   数据建模   50735   150-500人           电商
1    6877668                   数据分析  100125    2000人以上   移动互联网,企业服务
2    6496141                   数据分析   26564  500-2000人           电商
3    6467417                   数据分析   29211    2000人以上        物流丨运输
4    6882347                   数据分析   94826    50-150人     移动互联网,社交
..       ...                    ...     ...        ...          ...
99   6884346                  数据分析师   21236  500-2000人  移动互联网,医疗丨健康
100  6849100                 商业数据分析   72076  500-2000人     移动互联网,电商
101  6803432        奔驰·耀出行-BI数据分析专家  751158   150-500人        移动互联网
102  6704835                BI数据分析师   52840    2000人以上           电商
103  6728058  数据分析专家-LQ(J181203029)    2474    2000人以上        汽车丨出行

[104 rows x 5 columns]

In [11]:
'''
    file.to_csv() 写入文件
'''
data3.to_csv('haha.csv',encoding='utf-8-sig',header=None,index=False)

In [54]:
'''
    把上面第8题df中的数据 ，写入到df_08.csv文件中，保存时设置去除索引。
    把上面第8题df中的数据 ，写入到df_08.xls文件中，sheet页的名字为
    “成绩表”，保存时设置去除索引。
'''
df.to_csv('df_21.csv',encoding='utf-8',index=False)
df.to_excel('df_21.xlsx',index=False,sheet_name = '成绩表')

In [53]:
'''
    read_excel()函数 读取 .xls 文件
    1. sheet_name 表单名
    2. usecols 读取单独文件中的某几列
    3. skiprows 接受list、int、callable 表示读取数据开头跳过的行数
    4. index_col 表示索引列的位置
'''
data4 = pandas.read_excel('C:\\Users\\26440\\Desktop\\jupyter_ipynb\\python_source\\data\\data2.xls',names=['id','name','date','s_price','e_price'],
                          nrows=3,sheet_name=1,index_col='id',usecols=[0,1,2],skiprows=1,header=1)
print(data4)

           name       date
id
700002.BJ  浦发银行 2017-02-22
700003.BJ  浦发银行 2017-02-23
700004.BJ  浦发银行 2017-02-24

In [40]:
'''
    将 data4 的数据 写入excel 
'''
data4.to_excel('haha1.xlsx')