In [29]:
'''
    (1)读取来聘人员信息表(hr_job.csv)数据
    (2)将类别型数据中的缺失值填补为“未知”，将数值型缺失值填补为其对应特征的均值。
    (3)对所有的分类数据进行哑变量处理。
'''
import pandas
df = pandas.read_csv(
    'C:\\Users\\26440\\Desktop\\jupyter_ipynb\\python_source\\data\\hr_job.csv'
    ,encoding='gbk')

#(2)将类别型数据中的缺失值填补为“未知”，将数值型缺失值填补为其对应特征的均值。
df1 = df.select_dtypes(include=['object']).columns
df[df1] = df[df1].fillna('未知')
df

df2 = df.select_dtypes(include=['number']).columns
for i in df2:
    avg = df[i].mean()
    df[i].fillna(avg,inplace=True)
df[i]
df3 = pandas.get_dummies(df)
df3

C:\Users\26440\AppData\Local\Temp\ipykernel_8292\1991763232.py:19: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(avg,inplace=True)

,应聘人员ID,工作次数,性别_Other,性别_女,性别_未知,性别_男,相关经验_无,相关经验_有,教育水平_初中,教育水平_博士,教育水平_大学,教育水平_未知,教育水平_硕士,教育水平_高中
0,11561,5.0,False,False,True,False,True,False,False,False,True,False,False,False
1,33241,0.0,False,False,True,False,True,False,False,False,True,False,False,False
2,21651,11.0,False,False,True,False,False,True,False,False,True,False,False,False
3,28806,5.0,False,False,False,True,False,True,False,False,False,False,False,True
4,402,13.0,False,False,False,True,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1287,6593,14.0,False,False,False,True,False,True,False,False,False,False,True,False
1288,18572,14.0,False,False,False,True,False,True,False,False,True,False,False,False
1289,5366,14.0,False,False,False,True,False,True,False,False,True,False,False,False
1290,11347,14.0,False,False,False,True,False,True,False,False,True,False,False,False
1291,10611,14.0,False,True,False,False,True,False,False,True,False,False,False,False

In [50]:
import matplotlib.pyplot as plt
data = pandas.cut(df['工作次数'],5,right=False) #等宽法
a = data.value_counts()
a

工作次数
[9.2, 14.024)    502
[4.4, 9.2)       440
[-0.4, 4.4)      347
[-5.2, -0.4)       2
[-10.0, -5.2)      1
Name: count, dtype: int64

In [53]:
data1 = pandas.qcut(df['工作次数'],5,duplicates='drop') #等频法
data1.value_counts()

工作次数
(9.0, 14.0]       502
(-10.001, 4.0]    350
(6.0, 9.0]        261
(4.0, 6.0]        179
Name: count, dtype: int64